<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plg.shiro.dao.OmMenuMapper">
	<resultMap id="BaseResultMap" type="com.plg.shiro.entity.OmMenu">
		<id 	column="menu_id" 		jdbcType="INTEGER" 		property="menuId" />
		<result column="parent_id" 		jdbcType="INTEGER" 		property="parentId" />
		<result column="menu_text" 		jdbcType="VARCHAR" 		property="menuText" />
		<result column="menu_url" 		jdbcType="VARCHAR" 		property="menuUrl" />
		<result column="permis_id" 		jdbcType="INTEGER" 		property="permisId" />
		<result column="enable_flag" 	jdbcType="TINYINT" 		property="enableFlag" />
		<result column="menu_order" 	jdbcType="INTEGER" 		property="menuOrder" />
		<result column="create_time" 	jdbcType="TIMESTAMP" 	property="createTime" />
		<result column="update_time" 	jdbcType="TIMESTAMP" 	property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		menu_id, parent_id, menu_text, menu_url, permis_id, enable_flag, menu_order,
		create_time,
		update_time
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from om_menu
		where 
			menu_id = #{menuId,jdbcType=INTEGER}
	</select>
	
	<select id="queryUseMenu" resultMap="BaseResultMap">
		select 
			om.menu_id,
			om.menu_text,
			om.menu_url
		from 
			user_role oro,
			role_permis rp,
			om_menu om
		where 
			oro.user_id = #{userId}
		and rp.role_id = oro.role_id
		and om.permis_id = rp.permis_id
		order by om.menu_order	
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from om_menu
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from om_menu where menu_id = #{menuId,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.plg.shiro.entity.OmMenu">
		insert into om_menu (
			menu_id, 
			parent_id, 
			menu_text,
			menu_url, 
			permis_id, 
			enable_flag,
			menu_order, 
			create_time, 
			update_time
		) values (
			#{menuId,jdbcType=INTEGER}, 
			#{parentId,jdbcType=INTEGER},
			#{menuText,jdbcType=VARCHAR},
			#{menuUrl,jdbcType=VARCHAR}, 
			#{permisId,jdbcType=INTEGER}, 
			#{enableFlag,jdbcType=TINYINT},
			#{menuOrder,jdbcType=INTEGER}, 
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.plg.shiro.entity.OmMenu">
		update om_menu
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="menuText != null">
				menu_text = #{menuText,jdbcType=VARCHAR},
			</if>
			<if test="menuUrl != null">
				menu_url = #{menuUrl,jdbcType=VARCHAR},
			</if>
			<if test="permisId != null">
				permis_id = #{permisId,jdbcType=INTEGER},
			</if>
			<if test="enableFlag != null">
				enable_flag = #{enableFlag,jdbcType=TINYINT},
			</if>
			<if test="menuOrder != null">
				menu_order = #{menuOrder,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where menu_id = #{menuId,jdbcType=INTEGER}
	</update>
</mapper>