.project
.classpath
*.log
pids/*
!.gitignore
.project
.settings/
**/*.svn
*.svn
**/*.pmd
*.pmd
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
/target/
**/target/*
**/reports/*
**/logs/*
test-output/
*.iml